# vscode files
.vscode/**
.vscode-test/**

# documentation
docs/**

# testing
src/**/*.test.js
dist-test/**
test/**
test-project/**

# tools
.github/**
.eslintrc.js
.gitignore
.npmrc
.nvmrc
.prettierrc
babel.config.js

# development
node_modules
tmp